body
{
	background: black;
	overflow: hidden;
}

.Background
{
	position: absolute;
	left: 0px;
	top: calc((100vh - 1080px) / 2);
	width: 1920px;
	height: 1080px;
	z-index: -1;
	border: 1px solid green;
	filter: blur(2px);
}

.Content
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0px;
	top: calc((100vh - 1080px) / 2);
	z-index: 1;
}

.QuestionPanel
{
	width: 75vw;
	height: 66vh;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 7px solid #640071;
	border-radius: 20px;
	background: black;
}

.QuestionPanel > *
{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.QuestionPanelDecoration
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	transform: translate(-50%, -50%);
}

.QuestionLayout
{
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.QuestionNumber
{
	align-self: flex-start;
	font-family: "Futura Heavy";
	font-size: 44pt;
	color: white;
	text-align: right;
	width: 2em;
	padding-right: 0.5em;
	flex-shrink: 0;
}

.AnswerLayout
{
	display: flex;
	width: calc(75vw - 75px);
	flex-direction: row;
	margin-top: 17.5px;
	padding-top: 17.5px;
	padding-left: 50px;
	border-top: 1px solid #541171;
	flex-grow: 1;
	overflow: hidden;
}

.TriviaText
{
	align-self: flex-start;
	font-family: "Futura Heavy";
	font-size: 44pt;
	color: white;
	flex-grow: 1;
}

.Sub
{
	font-size: 30pt;
	color: #ccc;
	display: block;
	margin-top: 1em;
}

.VideoContainerBottom
{
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.VideoContainerSide
{
	flex-grow: 1;
	width: 35vw;
	min-width: 25vw;
	margin-right: 24px;
	margin-top: 0;
	margin-bottom: 0;
	align-self: stretch;
	display: flex;
	flex-direction: column;
}

.OSD
{
	font-family: "VCR OSD Mono";
	font-size: 25px;
	color: #fff;
	text-shadow: -2 0 0 black, 0 -2 0 black, 2 0 0 black, 0 2 0 black;
}

video
{
	flex-grow: 1;
	flex-shrink: 1;
	align-self: center;
}

.VideoContainerSide video
{
	align-self: stretch;
	margin-bottom: 1px;
}
